<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Author" content="Expert Signals" >
    <meta name="description" content="Get accurate signals on the most profitable coins and crypto assets to buy">
    <meta name='apple-touch-fullscreen' content='yes'>
    <meta name="keywords" content="Expert Signals, expertsignals.co, trading bitcoin, shitcoin, defi, blockchain, Expertsignals.xyz, crypto, crypto signals, cryptocurrency signals, cryptocurrency forcasts, nigeria crypto, bitcoin, altcoin, ethereum, ether, Dodgecoin, dodge, meme coin, meme, best signlas platform in nigeria, nigeria's best cruptocurrency signals platform, make money online, make money online with crypto, binance, crypto binance, crypto finance, whatsapp, telegram">
    <meta name='target' content='all'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Seo tags -->
    <meta property="og:title" content="Get Accurate Crypto Signals from expert signals" />
    <meta property="og:description" content="Make money trading crypto" />
 
    <!-- Auth -->
   
    <!-- fonts and css -->
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/anime_.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

   
    <!-- <link rel="manifest" href="main.webmanifest"> -->
    <title>Expert Signals</title>

</head>
<body>
    <header>
         <div class="menu-icon">
            <i class="ri-menu-line"></i>
         </div>
        <div class="account">
            <li>Free Trial <i class="fas fa-chevron-down"></i></li>
        </div>

    </header>
  
   @!section('content')
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js" integrity="sha512-QABeEm/oYtKZVyaO8mQQjePTPplrV8qoT7PrwHDJCBLqZl5UmuPi3APEcWwtTNOiH24psax69XPQtEo5dAkGcA==" crossorigin="anonymous"></script>
       <script src="/js/swiper.js"></script>
       <script src="/js/dashboard.js"></script>



    </body>
</html>